{% extends 'base.html' %}{% block title %}Todo App | Add Task{% endblock title%}
{% block content %}
<div
  class="container bg-light d-flex justify-content-center align-items-center flex-column rounded p-4 mt-4 w-50"
>
  <h1 class="text-info fs-1">
    <a href="{%url 'home'%}" style="text-decoration: none"
      ><span style="font-size: 2.2rem">&larr;</span></a
    >
    Add Task
  </h1>
  <form action="" method="post">
    {% csrf_token %} {{form}}
    <div>
      <input type="submit" value="Add Task" class="btn btn-primary mt-3" />
    </div>
  </form>
</div>
{% endblock content %}
